
.userUpdateLeft{
    width: 100%;
}
.button_Dia{
    margin-top: 8px;
    margin-right: 8px;
}
.toast{
    margin-top: 90px;
}
@media screen and (max-width: 600px) {
    .p-input-icon-left .p-inputtext {
      width: 100px; /* Điều chỉnh kích thước của input tại đây */
    }
  }

  .herdList {
    display: grid;
    grid-template-rows: auto auto; 
    grid-gap: 20px; /* Khoảng cách giữa hai hàng */
  }
  .card_herd{
    grid-gap: 20px; 
}
