
.userUpdateLeft{
    width: 100%;
}
.button_Dia{
    margin-top: 8px;
    margin-right: 8px;
}
.toast{
    margin-top: 90px;
}
.card_herd{
    width: 97%;
}@media screen and (max-width: 600px) {
    .p-input-icon-left .p-inputtext {
      width: 100px; /* Điều chỉnh kích thước của input tại đây */
    }
  }