
divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
 


@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.full-height {
    height: 100vh; /* Chiều cao toàn màn hình */
    width: 100%;
    object-fit: cover; /* Đảm bảo hình ảnh không bị biến dạng */
  }
