*{
  margin: 0;
  top: 0;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: rgb(217, 226, 224);
  color: #343a40;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
  .card {
  background: var(--surface-card);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  /* max-width: 1106px; */
  }

  
.sidebar {
  position: fixed;
  height: 100%;
  width: 245px;
  z-index: -9;
  padding-top: 90px;
  background-color: white;
  
}
.menu-items{
  margin: 0px 14px ;
}
.menu-items a{
  text-decoration: none;
  cursor: pointer;
}
.item:hover{
  background-color: rgb(233, 233, 233);
  border-radius: 3px;
}
.item{
  display: flex;
  gap: 2rem;
  font-size: 18px;
  color: #495057;
  margin: 8px 0px;
  padding: 7px;
}

.item .fa{
  font-size:18px;
}
.item .fa-map-marker{
  margin-left: 4px;
}
.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.navbar{
    width: calc(100%);
    transition: all 0.5s ease;
    z-index: 1000;
}
.navbar {
  position: fixed;
}

.main {
  left: 270px;
  width: calc(100% - 288px);
  transition: all 0.5s ease;
  z-index: 100;
  position: relative;
  display: flex;
 margin:  131px 40px 40px 40px;
 background:  rgb(217, 226, 224);
}


@media screen and (max-width: 450px) {
  .main{
    width: 100%;
    left: 0;
    position: absolute;
    display:block;
  }
  .sidebar{
    display: none;
  }
}